<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.joancolmenerodev.kitties">

    <application>
        <activity android:name=".feature.kitties_detail.KittyDetailActivity"></activity>
        <activity android:name=".feature.kitties_list.presentation.KittiesListActivity" />
    </application>

</manifest>